<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cencor" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <service
            android:name=".SleepyService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".ShakyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".SleepyActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ShakyActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AlarmActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".AlarmBroadCastReceiver"/>
        <receiver android:name=".LockAdmin" android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin" android:resource="@xml/policies" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>